# ========================
# PoupePC - .gitignore
# ========================

# ---- Banco de Dados ----
*.db
*.sqlite
*.sqlite3

# ---- Python ----
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
*.egg
.env
venv/
.venv/

# ---- Miscellaneous ----
*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

# ---- IDEs ----
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
# .vscode/

# ---- Flutter/Dart/Pub ----
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# ---- Symbolication ----
app.*.symbols

# ---- Obfuscation ----
app.*.map.json

# ---- Android Studio ----
/android/app/debug
/android/app/profile
/android/app/release

# ---- Build outputs ----
/build/
src/frontend/build/
